<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <title>Feiras Dos Goianos - Contato</title>
    <script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
</head>

<body>
    <header id="header">
        <nav class="links" style="--items: 5;">
          <a href="../index.html">Home</a>
          <a href="#">Loja</a>
          <a href="#">Contato</a>
          <a href="sobreafeira.html">Sobre a Feira</a>
          <a href="telalogin.html">Área Administrador</a>
          <span class="line"></span>
        </nav>
      </header>
    <div id="texto">
        <form action="../controler/enviaContato.php" method="POST">
            <h1>Entre em Contato Conosco !</h1><br>
            <b>Nome: *</b> <input type="text" id="nome" name="nome" placeholder="Digite seu Nome" required /><br><br>
            <b>E-mail: *</b> <input type="text" id="email" name="email" placeholder="Digite Seu Email"
                required /><br><br>
            <b>Telefone: *</b> <input type="text" id="telefone" name="telefone" placeholder="(xx) xxxxx-xxxx" /><br><br>
            <b>Assunto: *</b> <input type="text" id="assunto" name="assunto" placeholder="Assunto" required /><br><br>
            <b>Mensagem: * <br></b> <textarea id="mensagem" name="mensagem" rows="5" cols="80"
                required></textarea><br><br>
            <div class="g-recaptcha" data-sitekey="6Lcb9fQUAAAAAG0q2t0XEY3kLVx_tC_YimVzFUrs"></div>
            <input type="submit" value="Enviar" name="enviar">
        </form>


    </div>
    <div id="rodape">
        <p>CNPJ: 0.000.000/0000-00 <br>
            Todos os direitos reservados &copy; 2020 </p>
    </div>
</body>

</html>