<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mapa da Feira</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/estilo.css'>
    <script src='main.js'></script>
</head>

<body>
    <center>
        <header id="header">
            <nav class="links" style="--items: 5;">
                <a href="../index.html">Home</a>
                <a href="#">Mapa da Feira</a>
                <a href="contato.html">Contato</a>
                <a href="sobreafeira.html">Sobre a Feira</a>
                <a href="telalogin.php">Área Administrador</a>
                <span class="line"></span>
            </nav>
        </header>
        <br><br><br><br><br><br><br><br><br>
        <h1>Mapa da Feira dos Goianos</h1>
        <br><br>
        <div id="mapa">
            <p><iframe src="https://cdn.discordapp.com/attachments/694581331513966605/718236388671357069/unknown.png"
                    width="1200" height="700" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe></p>
            <br><br>
        </div>
    </center>
    <div id="rodape">
        <p>CNPJ: 0.000.000/0000-00 <br>
            Todos os direitos reservados &copy; 2020</p>
    </div>
</body>

</html>