<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Painel Admin Feira dos Goianos</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='css/estilo.css'>
  <script src='main.js'></script>
</head>

<body>

  <center>
    <p>
    <h1>Área do Administrador</h1>
    </p>
  </center>

  <br><br><br>

  <div="menu">
    <ul>
      <li><a href="painelcadastrarbanca.html">
          <h1>Cadastrar banca</h1>
        </a></li>
      <li><a href="editarbancas.php">
          <h1>Editar banca</h1>
        </a></li>
      <li><a href="#">
          <h1>Deletar banca</h1>
        </a></li>

    </ul>
    </div>
</body>

</html>