<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Painel Admin Feira dos Goianos</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='csss/estilo.css'>
  <script src='main.js'></script>
</head>

<body>
  <center>
    <p>
    <h1>Área do Administrador</h1>
    </p>
  </center>
  <br><br><br>
  <div id="menu">
    <a href="painelcadastrarbanca.html">
      <h1>Cadastrar banca</h1>
    </a>
    <a href="editarbancas.php">
      <h1>Editar banca</h1>
    </a>
    <a href="deletarbancas.php">
      <h1>Deletar banca</h1>
    </a>
  </div>
  <div id="conteudo_edbanca">
  </div>

</body>

</html>