<DOCTYPE html!>
  <html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <title> Sobre a Feira </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
  </head>

  <body>
    <header id="header">
      <nav class="links" style="--items: 5;">
        <a href="../index.html">Home</a>
        <a href="mapa_feira.html">Mapa da Feira</a>
        <a href="contato.html">Contato</a>
        <a href="#">Sobre a Feira</a>
        <a href="telalogin.php">Área Administrador</a>
        <span class="line"></span>
      </nav>
    </header>
    <br><br><br><br><br>
    <div id="txt_srb">

      <center>
        <h1>Feira dos Goianos</h1><br>
        <b> A Feira dos Goianos é uma tradicional feira de compras situada em Taguatinga no Distrito Federal inaugurada
          em
          1998 sendo chamada de Polo de Confecções e depois em meados de 2001 foi mudada para o nome que até hoje é o
          original,é ponto de encontro de vários tipos de culturas e etinias,o fluxo de pessoas aumenta a cada ano e
          principalmente em períodos festivos.</b>
        <b>A variedade de produtos tem para todos os gostos e todas as idades</b>
        <b>Temos mais de 500 bancas para lhe atender da melhor forma possível com estacionamento próprio ou se preferir
          estacionamentos aos arredores</b>
        <b>aberta de terça a sábado das 08:00 as 18:00 e domingo até as 15:00. Ficamos situados na Avenida Hélio Prates
          em
          Taguatinga-DF. </b>
        <br><br><br>
      </center>
      <b>Como chegar : </b>

      </br></br></br>

    </div>
    <center>
      <div id="map_feira">
        <br>
        <p><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.948661105283!2d-48.07918938460151!3d-15.806660827469093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a334a74aa9369%3A0x6e06dbaf2a49c934!2sFeira%20dos%20Goianos%20Taguatinga!5e0!3m2!1spt-BR!2sbr!4v1588629199446!5m2!1spt-BR!2sbr"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe></p>
        </br>
      </div>
    </center>



  </body>

  </html>